In [245]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#read master data csv
masterData = pd.read_csv("masterdata2016.csv")
masterData.head()

,No,NIM,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,Alpro,...,SE,PO,SCM,EA,Basdat,Manjarkom,Sisop,MSDM,Desjar,Manprosi
0,1,1202160002,4.0,3.5,4.0,3.5,4.0,3.5,3.5,3.5,...,4.0,3.5,3.5,4.0,3.5,3.5,4.0,3.5,3.5,3.5
1,2,1202160009,4.0,3.5,3.5,3.5,3.5,3.5,3.5,4.0,...,3.5,3.5,4.0,3.5,3.5,3.0,3.5,4.0,3.5,3.5
2,3,1202160010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5
3,4,1202160011,4.0,4.0,3.5,3.5,4.0,3.0,4.0,3.5,...,3.5,3.0,3.5,3.5,4.0,3.5,3.5,3.5,2.5,3.5
4,5,1202160013,3.5,3.0,3.5,2.0,2.0,2.5,4.0,3.5,...,3.5,2.5,2.5,3.5,3.5,2.5,2.0,1.0,4.0,4.0

In [246]:
#read data peminatan
dataPeminatan = pd.read_csv("2016 data v5.csv")
dataPeminatan.head()

,No,NIM,OOP,RPB,RPL,PI,APSI,WEB,Statistik,Matdis,...,EA,Basdat,Manjarkom,Sisop,MSDM,Desjar,KSI,Pilihan 1,Pilihan 2,Peminatan
0,1,1202160002,4.0,3.5,0.0,4.0,3.5,4.0,3.5,3.5,...,4.0,3.5,3.5,4.0,3.5,3.5,0.0,ERP,EDM,ERP
1,2,1202160009,4.0,3.5,0.0,3.5,3.5,3.5,3.5,3.5,...,3.5,3.5,3.0,3.5,4.0,3.5,0.0,ERP,EDM,ERP
2,3,1202160010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,NaN,0,NaN
3,4,1202160011,4.0,4.0,0.0,3.5,3.5,4.0,3.0,4.0,...,3.5,4.0,3.5,3.5,3.5,2.5,0.0,ERP,EDM,ERP
4,5,1202160013,3.5,3.0,0.0,3.5,2.0,2.0,2.5,4.0,...,3.5,3.5,2.5,2.0,1.0,4.0,0.0,EA,EDM,EDM

In [248]:
#merge table
masterData["Pilihan 1"] = dataPeminatan['Pilihan 1']
masterData["Pilihan 2"] = dataPeminatan['Pilihan 2']
masterData["Peminatan"] = dataPeminatan['Peminatan']
masterData.head()

,No,NIM,OOP,RPB,PI,APSI,WEB,Statistik,Matdis,Alpro,...,EA,Basdat,Manjarkom,Sisop,MSDM,Desjar,Manprosi,Pilihan 1,Pilihan 2,Peminatan
0,1,1202160002,4.0,3.5,4.0,3.5,4.0,3.5,3.5,3.5,...,4.0,3.5,3.5,4.0,3.5,3.5,3.5,ERP,EDM,ERP
1,2,1202160009,4.0,3.5,3.5,3.5,3.5,3.5,3.5,4.0,...,3.5,3.5,3.0,3.5,4.0,3.5,3.5,ERP,EDM,ERP
2,3,1202160010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.5,NaN,0,NaN
3,4,1202160011,4.0,4.0,3.5,3.5,4.0,3.0,4.0,3.5,...,3.5,4.0,3.5,3.5,3.5,2.5,3.5,ERP,EDM,ERP
4,5,1202160013,3.5,3.0,3.5,2.0,2.0,2.5,4.0,3.5,...,3.5,3.5,2.5,2.0,1.0,4.0,4.0,EA,EDM,EDM

In [249]:
#get skor 1
skor1 = [0] * len(dataPeminatan)
for index, row in masterData.iterrows():
    if row["Pilihan 1"] == "TECHNO" :
        skor1[index] = row["OOP"] + row["RPB"] + row["WEB"] + row["PI"] + 1
    elif row['Pilihan 1'] == "EAD" :
        skor1[index] = row["OOP"] + row["APSI"] + row["RPB"] + row["WEB"] + 1
    elif row['Pilihan 1'] == "EDM" :
        skor1[index] = row["Statistik"] + row["Matdis"] + row["Alpro"] + row["Strukdat"] + 1
    elif row['Pilihan 1'] == "ERP" :
        skor1[index] = row["SE"] + row["RPB"] + row["PO"] + row["SCM"] + 1
    elif row['Pilihan 1'] == "EA" :
        skor1[index] = row["RPB"] + row["APSI"] + row["EA"] + row["Basdat"] + 1
    elif row['Pilihan 1'] == "EIM" :
        skor1[index] = row["Desjar"] + row["Manjarkom"] + row["Sisop"] + row["Manprosi"] + 1
    elif row['Pilihan 1'] == "ISM" :
        skor1[index] = row["SE"] + row["Manjarkom"] + row["Sisop"] + row["MSDM"] + 1

len(skor1)

403

In [250]:
#get skor 2
skor2 = [0] * len(dataPeminatan)
for index, row in masterData.iterrows():
    if row["Pilihan 2"] == "TECHNO" :
        skor2[index] = row["OOP"] + row["RPB"] + row["WEB"] + row["PI"]
    elif row['Pilihan 2'] == "EAD" :
        skor2[index] = row["OOP"] + row["APSI"] + row["RPB"] + row["WEB"]
    elif row['Pilihan 2'] == "EDM" :
        skor2[index] = row["Statistik"] + row["Matdis"] + row["Alpro"] + row["Strukdat"]
    elif row['Pilihan 2'] == "ERP" :
        skor2[index] = row["SE"] + row["RPB"] + row["PO"] + row["SCM"]
    elif row['Pilihan 2'] == "EA" :
        skor2[index] = row["RPB"] + row["APSI"] + row["EA"] + row["Basdat"]
    elif row['Pilihan 2'] == "EIM" :
        skor2[index] = row["Desjar"] + row["Manjarkom"] + row["Sisop"] + row["Manprosi"]
    elif row['Pilihan 2'] == "ISM" :
        skor2[index] = row["SE"] + row["Manjarkom"] + row["Sisop"] + row["MSDM"]
        
len(skor2)

403

In [251]:
if "Skor 1" in masterData.columns :
    del masterData['Skor 1']
if "Skor 2" in masterData.columns :
    del masterData['Skor 2']
    
masterData['Skor 1'] = skor1
masterData['Skor 2'] = skor2

#clean null tuples
masterData = masterData.dropna(how='any',axis=0) 
cleanData = masterData[["No","NIM","Skor 1","Pilihan 1","Skor 2","Pilihan 2","Peminatan"]]
cleanData.head()

   No         NIM  Skor 1 Pilihan 1  Skor 2 Pilihan 2 Peminatan
0   1  1202160002    15.5       ERP    14.0       EDM       ERP
1   2  1202160009    15.5       ERP    14.5       EDM       ERP
3   4  1202160011    15.0       ERP    13.5       EDM       ERP
4   5  1202160013    13.0        EA    12.0       EDM       EDM
5   6  1202160015    10.5       ISM    12.5       EDM       ISM

array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.2],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.6, 1.4, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2],
       [7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3],
       [6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]])