In [106]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

data = pd.read_csv('pekerti.csv')
temp = data
data.head()

,No,NIM,OOP,RPB,RPL,PI,APSI,WEB,Statistik,Matdis,...,SE,PO,SCM,EA,Basdat,Manjarkom,Sisop,MSDM,Desjar,KSI
0,881,1202160002,4.0,3.5,0.0,4.0,3.5,4.0,3.5,3.5,...,4.0,3.5,3.5,4.0,3.5,3.5,4.0,3.5,3.5,0
1,882,1202160009,4.0,3.5,0.0,3.5,3.5,3.5,3.5,3.5,...,3.5,3.5,4.0,3.5,3.5,3.0,3.5,4.0,3.5,0
2,883,1202160010,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,884,1202160011,4.0,4.0,0.0,3.5,3.5,4.0,3.0,4.0,...,3.5,3.0,3.5,3.5,4.0,3.5,3.5,3.5,2.5,0
4,885,1202160013,3.5,3.0,0.0,3.5,2.0,2.0,2.5,4.0,...,3.5,2.5,2.5,3.5,3.5,2.5,2.0,1.0,4.0,0

In [107]:
data = data.drop('NIM', 1)
data = data.drop('No', 1)
data.head()

,OOP,RPB,RPL,PI,APSI,WEB,Statistik,Matdis,Alpro,Strukdat,SE,PO,SCM,EA,Basdat,Manjarkom,Sisop,MSDM,Desjar,KSI
0,4.0,3.5,0.0,4.0,3.5,4.0,3.5,3.5,3.5,3.5,4.0,3.5,3.5,4.0,3.5,3.5,4.0,3.5,3.5,0
1,4.0,3.5,0.0,3.5,3.5,3.5,3.5,3.5,4.0,3.5,3.5,3.5,4.0,3.5,3.5,3.0,3.5,4.0,3.5,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
3,4.0,4.0,0.0,3.5,3.5,4.0,3.0,4.0,3.5,3.0,3.5,3.0,3.5,3.5,4.0,3.5,3.5,3.5,2.5,0
4,3.5,3.0,0.0,3.5,2.0,2.0,2.5,4.0,3.5,2.0,3.5,2.5,2.5,3.5,3.5,2.5,2.0,1.0,4.0,0

In [95]:
#coba = data.iloc[1]
#coba['OOP']
#data.plot(kind='scatter',x='No',y="OOP",color='red')
#plt.show()

In [108]:
cluster = KMeans(n_clusters=6)
cluster = cluster.fit_predict(data)
cluster

array([3, 3, 5, 3, 3, 3, 4, 5, 3, 4, 3, 3, 3, 5, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 5, 3, 3, 3, 3, 3, 3, 3, 3, 5, 3, 3, 5, 4, 3, 3, 4, 3, 4, 3,
       3, 0, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4,
       3, 3, 4, 3, 3, 3, 0, 3, 3, 3, 3, 4, 3, 3, 3, 3, 4, 3, 4, 3, 3, 3,
       4, 5, 4, 4, 3, 3, 3, 3, 3, 4, 3, 3, 3, 3, 3, 5, 5, 5, 3, 5, 3, 4,
       3, 3, 3, 3, 5, 3, 3, 3, 4, 3, 4, 3, 4, 3, 0, 3, 3, 3, 3, 3, 4, 3,
       3, 3, 3, 3, 3, 3, 4, 5, 3, 3, 3, 4, 4, 3, 3, 3, 3, 3, 3, 3, 4, 4,
       3, 3, 4, 3, 3, 3, 3, 5, 5, 3, 5, 5, 5, 3, 3, 4, 3, 3, 3, 4, 4, 3,
       3, 3, 3, 4, 4, 5, 3, 4, 3, 3, 3, 3, 3, 3, 5, 3, 3, 3, 3, 3, 3, 3,
       4, 4, 3, 3, 3, 4, 3, 3, 4, 3, 3, 3, 3, 3, 3, 5, 3, 3, 3, 4, 3, 5,
       5, 3, 4, 3, 1, 5, 1, 1, 1, 1, 1, 5, 1, 5, 1, 1, 1, 1, 4, 4, 1, 1,
       1, 1, 5, 1, 1, 4, 1, 1, 4, 1, 1, 1, 5, 1, 4, 1, 1, 1, 1, 1, 1, 1,
       4, 5, 4, 1, 5, 4, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 4, 1, 1, 1, 4, 1, 4, 5, 1, 4, 1, 1, 1, 1, 1, 4, 1, 1, 1,
       1, 1, 5, 1, 1, 1, 1, 4, 4, 1, 1, 4, 1, 1, 1, 0, 1, 5, 1, 4, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 4, 4, 1, 4, 1, 1, 4, 1, 1, 1, 1,
       1, 1, 5, 1, 4, 1, 4, 1, 1, 5, 5, 1, 1, 1, 5, 5, 1, 1, 1, 1, 1, 1,
       4, 1, 4, 4, 4, 1, 4, 1, 5, 1, 1, 4, 1, 1, 1, 4, 1, 5, 5, 1, 5, 1,
       1, 1, 5, 5, 1, 1, 4, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 5, 0, 0, 0, 5, 0, 0, 5, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 5, 5, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 5, 0, 5, 0, 0, 5, 5, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 5, 0, 0, 5, 0, 5, 5, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 5, 5, 2, 2, 2, 5, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 5, 2, 2, 2, 2, 2, 2, 2, 5, 5,
       5, 5, 5, 5, 2, 2, 2, 2, 2, 2, 2, 5, 2, 2, 5, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 5, 5, 2, 2, 2, 2, 2, 5, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 5, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 5, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 5, 2, 2, 5, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 5, 2, 2, 5, 2, 2, 2, 2, 2, 2, 2, 5, 2, 2,
       5, 2, 2, 2, 2, 2, 5, 2, 2, 2, 2, 2, 2, 2, 5, 2, 2, 2, 2, 2, 2, 5,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 5, 2, 2, 5, 2, 2, 2, 2, 2, 5,
       2, 2, 2, 2, 5, 2, 5, 5, 2, 2, 2])

In [118]:
baru['NIM'] = temp['NIM']
baru['Cluster'] = cluster
baru.head()

0    1202160002
1    1202160009
2    1202160010
3    1202160011
4    1202160013
Name: NIM, dtype: object